[Unit]
Description=X-Road proxy backend
After=network.target
Wants=xroad-signer.service xroad-confclient.service

[Service]
PermissionsStartOnly=true
RestartSec=5
TasksMax=40960
User=xroad
Group=xroad
UMask=007
ExecStartPre=/bin/sh -ec 'mkdir -p -m0755 /var/run/xroad && chown xroad:xroad /var/run/xroad && chown xroad:xroad /etc/xroad'
ExecStart=/usr/share/xroad/bin/proxy.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
